.dashboard {
  display: flex;
  width: 100%;
  align-items: center;
}
.profile-button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: x-large;
  font-weight: bold;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6);
  border: none;
  
}

.profile-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
  
}

.dashboard-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(96, 96, 244);
  width: 90%;
  border-radius: 10px;
  margin: 20px 20px;
  padding: 10px;
  padding-top: 20px;
  color: white;
}
.stats-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  gap: 25px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
  height: 120px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out;
    background: rgb(253, 253, 253);
}
.card h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: blue;
}
.card p{
    font-size: larger;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(81, 79, 79);
}
/* @media (max-width:750px) {
    .stats-cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width:1310px) and (min-width:751px) {
    .stats-cards {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    
} */