.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #191717;
  padding: 4rem 2rem;
  width: 100%;
}
.featurecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* width: 60%; */
  height: 90%;
  margin-bottom: 250px;
  animation-delay: 0.2s;
  animation: scrolling linear;
  animation-timeline: view(40% 0%);
  animation-range: entry 0%;
}
@keyframes scrolling {
  0% {
    opacity: 0;
    transform: translatex(-200px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translatex(0px) scale(1);
  }
}
.featurecard:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.featurecard:active {
  transform: translateY(0);
  transition: all 0.1s ease;
}
@media (max-width: 768px) {
  .features {
    flex-direction: column;
    width: 100%;
  }
  .featurecard {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    font-size: 14px;
  }
  .featurecard h3 {
    font-size: 18px;
  }
}
.featurecard-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.feature-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
featurecard-title h3,
p {
  color: aqua;
  animation: title ease-in-out;
  animation-timeline: view(40% 0%);
}
@keyframes title {
  from {
    opacity: 0;
    transform: translateX(-200px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
