.features{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #F1F5F9;
  padding: 4rem 2rem;
}
.featurecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 60%;
  height: 250px;
  
}
.featurecard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.featurecard:active {
  transform: translateY(0);
  transition: all 0.1s ease;
}
@media (max-width: 768px) {
  .features {
    flex-direction: column;
    width: 100%;
  }
  .featurecard {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    font-size: 14px;
  }
  .featurecard h3{
    font-size: 18px;
  }
}
.featurecard-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.feature-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}