@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Libertinus+Mono&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border: 2px solid;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #020617;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
  color: #e5e7eb;
  animation: slideDown 0.6 ease-out;
  bottom: 10px;
}
@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.navbar h1 {
  font-size: 50px;
  color: rgb(145, 141, 141);
  width: 20%;
  font-family: inherit;
  transition: 0.5s ease-in-out;
  animation-name: transition;
  animation-direction: alternate;
  animation-duration: 1.25s;
}
h3 {
  font-weight: 500;
  font-style: inherit;
}
span {
  color: rgb(39, 165, 165);
}
ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: large;
  list-style: none;
}
.nav-link {
  cursor: pointer;
  height: auto;
  width: auto;
  padding: 05px;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: 0.5s ease-in-out;
  animation-name: transition;
  animation-direction: alternate;
  animation-duration: 1.25s;
}
.nav-link:hover {
  background-color: #38bdf8;
  color: white;
  transform: scale(1.2);
}
li:focus {
  outline: 2px solid #38bdf8;
}
@keyframes transition {
  from {
    transform: scale(1.4);
  }
}
.button {
  border-radius: 5px;
  height: 35px;
  width: 5%;
  background-color: rgb(81, 132, 244);
  color: white;
  border: none;
  transition: 0.5s ease-in-out;
  font-family: inherit;
  margin-right: 10px;
}
.button:hover {
  transform: scale(1.15);
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 15px;
    width: 30%;
  }
  h3 {
    font-size: 6px;
    font-weight: 500;
  }
  ul {
    font-size: small;
    width: 70%;
  }
  .button {
    width: 10%;
    font-size: small;
  }
}
